/*
    SPDX-License-Identifier: GPL-3.0-or-later
    SPDX-FileCopyrightText: 2026 Wakana Kisarazu
*/

@font-face {
    font-family: "Fira Mono";
    font-weight: 700;
    src: url("assets/fonts/fira-mono_bold.ttf") format("truetype");
}

@font-face {
    font-family: "Fira Mono";
    font-weight: 500;
    src: url("assets/fonts/fira-mono_medium.ttf") format("truetype");
}

@font-face {
    font-family: "Fira Mono";
    font-weight: 400;
    src: url("assets/fonts/fira-mono_regular.ttf") format("truetype");
}

@font-face {
    font-family: "Frutiger";
    font-weight: 700;
    src: url("assets/fonts/frutiger_bold.ttf") format("truetype");
}

@font-face {
    font-family: "Frutiger";
    font-weight: 500;
    src: url("assets/fonts/frutiger_regular.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: url("assets/fonts/segoe-ui_semibold.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: url("assets/fonts/segoe-ui_semilight.ttf") format("truetype");
}

:root {
    --bg: #12051d;

    --blue-dark: #081b2e;
    --blue-mid: #1b5fa7;
    --blue-light: #5bc0ff;
    --blue-cyan: #72f6ff;

    --purple-dark: #1e0d30;
    --purple-mid: #48206f;
    --purple-light: #9d59ff;

    --green-dark: #0d2c11;
    --green-mid: #2d8f43;
    --green-light: #8dff9c;

    --red-dark: #2a0811;
    --red-mid: #a1284f;
    --red-light: #ff5c8a;
    --red-plasma: #ff3b3b;
}

body {
    background:
        radial-gradient(
            circle at top left,
            rgba(157, 89, 255, 0.18),
            transparent 40%
        ),

        radial-gradient(
            circle at bottom right,
            rgba(91, 192, 255, 0.15),
            transparent 45%
        ),

        linear-gradient(
            to bottom,
            #12051d,
            #081b2e
        );

    min-height: 100vh;

    color: white;

    font-family: "Segoe UI", sans-serif;
}

#terminal {
    border: 1px solid rgba(114, 246, 255, 0.2);
    box-shadow:
        0 0 20px rgba(91, 192, 255, 0.15),
        inset 0 0 10px rgba(114, 246, 255, 0.05);
    border-radius: 12px;

    background-color: var(--blue-dark);
    color: var(--green-light);

    font-family: "Fira Mono", monospace;

    padding: 1rem;

    text-shadow:
        0 0 4px rgba(141, 255, 156, 0.4);

}